//! **************************************************************************
// Written by: Map P.28xd on Sat Oct 10 10:28:54 2015
//! **************************************************************************

SCHEMATIC START;
COMP "IR" LOCATE = SITE "P78" LEVEL 1;
COMP "dataready" LOCATE = SITE "P79" LEVEL 1;
COMP "clk" LOCATE = SITE "P89" LEVEL 1;
COMP "repeat_code" LOCATE = SITE "P68" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

